# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos

# PDF files (No podemos ignorar los PDFs en el directorio raíz, lo necesita la generación automática de PDFs
# *.pdf

# Latex files into 'ejercicios' path
/ejercicios/**/*.aux
/ejercicios/**/*.log
/ejercicios/**/*.fls
/ejercicios/**/*.synctex.gz
/ejercicios/**/*.fdb_latexmk
/ejercicios/*.pdf
/ejercicios/**/*.pyg
/ejercicios/**/*.out
/ejercicios/_minted-*

# Latex files into 'examenes' path
/examenes/**/*.aux
/examenes/**/*.log
/examenes/**/*.fls
/examenes/**/*.synctex.gz
/examenes/**/*.fdb_latexmk
/examenes/*.pdf
/examenes/**/*.pyg
/examenes/**/*.out
/examenes/_minted-*

/transparencias/**/*.pdf
